<!-- FORM TO CREATE NEW TOPIC & FIRST POST -->
<%= form_for @topic do |f| %>
  <% if @topic.errors.full_messages.present? %>
    <div class="board__formErrors">
      <h2>Uh oh! Your submission had the following errors:</h2>
      <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="topic__form">
    <div class="topic__formTitle">
      <%= f.label :title, "Topic Title" %>
      <%= f.text_field :title %>
    </div>
    <div class="topic__formBoard">
      <%= f.label :board_id, "Select a Board" %>
      <%= f.select :board_id do %>
        <% boards_array = Board.all.map { |board| [board.title, board.id] } %>
        <%= options_for_select(boards_array) %>
      <% end %>
    </div>
    <div class="post__formContent">
      <%= f.fields_for :posts do |p| %>
        <%= p.label :content, "Post Content" %>
        <%= p.text_area :content %>
      <% end %>
    </div>
    <div class="topic__formSubmit">
      <%= f.submit 'Submit' %>
    </div>
  </div>
<% end %>
