<div class="colony">

    <div class="colony__header">
      <h1>Colonies</h1>
      <%= link_to 'Add a Colony', new_colony_path %>
    </div>

    <div class="colonies__list">
      <ul class="colonies__listUL">
      <% @colonies.each do |a| %>
        <li class="colonies__listLI">
          <div class="colonies__listName">
            <%= link_to a.name, colony_path(a) %>
          </div>
          <div class="colonies__listLocation">
            <%= a.city %> <%= a.state %>
          </div>
          <div class="colonies__listPopulation">
            Population: <%= a.pop %>
          </div>
        </li>
      <% end %>
    </ul>
    </div>
    <!-- <div class="map__div" data-js="map"></div> -->
</div>
