<%= form_for @board do |f| %>
  <% if @board.errors.full_messages.present? %>
    <div class="board__formErrors">
      <h2>Uh oh! Your submission had the following errors:</h2>
      <ul>
        <% @board.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="board__form">
    <div class="board__formTitle">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="board__formSubmit">
      <%= f.submit 'Submit' %>
    </div>
  </div>
<% end %>
