<div class="board">
  <div class="board__header">
    <h1>Kitty Chatterbox</h1>
    <div class="board__headerLinks">
      <% if policy(:board).new? %>
        <%= link_to 'New Board', new_board_path %>
         |
      <% end %>
      <%= link_to 'New Topic', new_topic_path %>
    </div>
  </div>
  <div class="board__index">
    <% @boards.order(:id).each do |board| %>
      <div class="board__tileContainer">
        <div class="board__indexTile">
          <div class="board__indexTitle">
            <%= link_to board.title, board_path(board) %>
          </div>
          Recent Topics
          <div class="board__indexTopicsRecent">
            <% board.topics.order('updated_at DESC').last(3).each do |topic| %>
              <div class="board__indexTopic">
                <div class="board__indexTopicTitle">
                  <%= link_to topic.title, topic_path(topic) %>
                </div>
                <div class="board__indexTopicUpdated">
                  Last Post by <%= link_to topic.posts.last.user.display_name, user_path(topic.user) %>
                  on <%= topic.updated_at.strftime('%m/%d/%Y') %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
