<div class="board">
  <div class="board__header">
    <h1><%= @board.title %></h1>
    <div class="board__headerLinks">
      <%= link_to 'Back to the Chatterbox', boards_path %> | <%= link_to 'Post a New Topic', new_topic_path %>
    </div>
  </div>
  <% if @board.title == 'Lost & Found' %>
    <%= render 'guidelines' %>
  <% end %>
  <div class="board__topics">
    <%= render 'topics_col_head' %>
    <% Topic.where('board_id=?', @board.id).order('updated_at DESC').each do |t| %>
      <%= render 'topics_list', topic: t %>
    <% end %>
  </div>
</div>
