<div class="board">
  <div class="board__header">
    <h1><%= @board.title %></h1>
    <div class="board__headerLinks">
      <%= link_to 'Back to the Chatterbox', boards_path %> | <%= link_to 'Post a New Topic', new_topic_path %>
    </div>
  </div>
  <div class="board__dividerLine"></div>
  <div class="board__topics">
    <div class="board__guidelines">
      <div class="board__topicTitle">
        <%= link_to Topic.find(8).title, topic_path(Topic.find(8)) %>
      </div>
      <div class="board__topicCreated">
        Created by Admin
      </div>
      <div class="board__topicUpdated">
        Last post by Admin
        at <%= Topic.find(8).posts.last.updated_at.strftime('%m/%d/%Y %H:%M') %>
      </div>
    </div>
    <% Topic.where('board_id=3 AND id<>8').order('updated_at DESC').each do |topic| %>
      <div class="board__topic">
        <div class="board__topicTitle">
          <%= link_to topic.title, topic_path(topic) %>
        </div>
        <div class="board__topicCreated">
          Created by <%= link_to topic.user.display_name, user_path(topic.user) %>
        </div>
        <div class="board__topicUpdated">
          Last post by <%= link_to topic.posts.last.user.display_name, user_path(topic.user) %>
          at <%= topic.posts.last.updated_at.strftime('%m/%d/%Y %H:%M') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
