<div class="board">
  <div class="board__header">
    <h1><%= @board.title %></h1>
    <%= link_to 'Back to the Chatterbox', boards_path %>
    <%= link_to 'New Board', new_board_path %>
    <%= link_to 'Post a New Topic', new_topic_path %>
  </div>
  <div class="board__topicsList">
      <% @board.topics.each do |topic| %>
        <div class="board__topic">
          <div class="board__topicTitle">
            <%= link_to topic.title, topic_path(topic) %>
          </div>
          <div class="board__topicCreated">
            Created by <%= link_to topic.user.display_name, user_path(topic.user) %>
            at <%= topic.created_at.strftime('%m/%d/%Y %H:%M') %>
          </div>
          <div class="board__topicUpdated">
            Last post by <%= link_to topic.posts.last.user.display_name, user_path(topic.user) %>
            at <%= topic.posts.last.updated_at.strftime('%m/%d/%Y %H:%M') %>
          </div>
        </div>
      <% end %>
  </div>
</div>
