<div class="board">
  <div class="board__header">
    <h1><%= @board.title %></h1>
    <div class="board__headerLinks">
      <%= link_to 'Back to the Chatterbox', boards_path %> | <%= link_to 'Post a New Topic', new_topic_path %>
    </div>
  </div>
  <div class="board__topics">
    <%= render 'topics_col_head' %>
    <% if @board.id == 3 %>
      <div class="board__guidelines">
        <div class="board__topicTitle">
          <%= link_to 'Lost & Found Guidelines - READ ME FIRST!', topic_path(Topic.find(8)) %>
        </div>
        <div class="board__topicCreated">Admin</div>
        <div class="board__topicUpdated">
          Admin at <%= Topic.find(8).posts.last.updated_at.strftime('%H:%M %m/%d/%Y') %>
        </div>
      </div>
      <% Topic.where('board_id=3 AND id<>8').order('updated_at DESC').each do |t| %>
        <%= render 'topics_list', topic: t %>
      <% end %>
    <% else %>
      <% Topic.where('board_id=?', @board.id).order('updated_at DESC').each do |t| %>
        <%= render 'topics_list', topic: t %>
      <% end %>
    <% end %>
  </div>
</div>
