<h1><%= @colony.name %></h1>

<p>
  <div>Name: <%= @colony.name %></div>
  <div><%= @colony.photo %></div>
  <div>Street: <%= @colony.street_address %></div>
  <div>City: <%= @colony.city %></div>
  <div>State: <%= @colony.state %></div>
  <div>Zip: <%= @colony.zip_code %></div>
  <div>Environment: <%= @colony.enviroment %></div>
  <div>Population: <%= @colony.pop %></div>
  <div>Veterinarian: <%= @colony.vet %></div>
  <div>
    <%= link_to '[edit]', edit_colony_path(@colony) %>
    <%= link_to '[remove]', @colony, method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</p>
