<div class="colony__show">
  <div class="colony__header">
    <%= link_to 'View All Colonies', colonies_path %>
  <h1><%= @colony.name %></h1>
  </div>
  <div class="colony__showContainer">
    <div><%= @colony.photo %></div>
    <div>Street: <%= @colony.street_address %></div>
    <div>City: <%= @colony.city %></div>
    <div>State: <%= @colony.state %></div>
    <div>Zip: <%= @colony.zip_code %></div>
    <div>Environment: <%= @colony.enviroment %></div>
    <div>Population: <%= @colony.pop %></div>
    <div>Veterinarian: <%= @colony.vet %></div>
    <% unless @colony.owners == [] %>
      <div>Colony Owner(s):
        <%= @colony.owners.each do |o| %>
          <%= o.display_name %>
        <% end %>
      </div>
    <% end %>
    <% unless @colony.volunteers == [] %>
      <div>Colony Volunteer(s):
        <%= @colony.volunteers.each do |v| %>
          <%= v.display_name %>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= link_to '[edit]', edit_colony_path(@colony) if policy(@colony).edit? %>
      <%= link_to '[remove]', @colony, method: :delete, data: {confirm: 'Are you sure?'} if policy(@colony).destroy? %>
    </div>
  </div>
</div>
