<h1>New Colony Report</h1>

<h3>Contact Info</h3>
First Name: <%= @report.first_name %><br />
Last Name: <%= @report.last_name %><br />
Email: <%= @report.email %><br />
Phone: <%= @report.phone %><br />
Street Address: <%= @report.street_address %><br />
City: <%= @report.city %><br />
State: <%= @report.state %><br />
Zipcode: <%= @report.zip_code %><br />

<h3>Colony Info</h3>
Location: <%= @report.location %><br />
Population: <%= @report.pop %><br />
Altered: <%= @report.fixed %><br />
Babies: <%= @report.young %><br />

Current Caretaker? <%= @report.current_caretaker %>
