<div class="login__container">
  <div class="join__form">
    <div class="login__header">
      <h3 class="login__title">Change your password</h3>
      <div class="login__sharedLinks">
        <%= render "users/shared/links" %>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="login__pwField">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'choose a new password' %>
        <% if @minimum_password_length %>
          <br /><em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="login__pwField">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 're-enter your password' %>
      </div>

      <div class="login__submit">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>
