<div class="login__container">
  <div class="login__form">
    <h3 class="login__title">Forgot your password?</h3>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="login__emailField">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'you@domain.com' %>
      </div>

      <div class="login__submit">
        <%= f.submit "Reset" %>
      </div>
    <% end %>

    <div class="login__sharedLinks">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
