<div class="org">
  <div class="org__header">
    <h1><%= @organization.name %></h1>
    <%= link_to 'View All Organizations', organizations_path %>
    <%= link_to 'Add Your Organization', new_organization_path %>
  </div>
  <div class="orgShow__container">
    <div class="org__details">
      <h3 class="org__subheader">All you need to know about <%= @organization.name %></h3>
      <ul class="org__listUL">
        <li class="org__listLI"><%= @organization.location %></li>
        <li class="org__listLI"><%= @organization.created_at.strftime('Member Organization since %m/%d/%Y') %></li>
        <li class="org__listLI"><%= @organization.description %></li>
      </ul>
    </div>
    <div class="org__members">
      <h3 class="org__subheader">Members, Volunteers, and General Fans of <%= @organization.name %></h3>
      <ul class="org__listUL">
        <% @organization.users.each do |user| %>
          <li class="org__listLI">
            <%= link_to user.display_name, user_path(user[:id]) %>
          </li>
        <% end %>
        <% if current_user.organizations.count == 0 %>
          <li>
            <%= link_to 'Join Organization', join_org_path(@organization), data: { confirm: 'Are you sure?'} %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Leave Organization', leave_org_path(@organization), data: { confirm: 'Are you sure?'} %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= link_to '[edit]', edit_organization_path(@organization) if policy(@organization).edit? %>
      <%= link_to '[remove]', @organization, method: :delete, data: {confirm: 'Are you sure?'} if policy(@organization).destroy? %>
    </div>
  </div>
</div>
