<div class="report">
  <%= form_for @report, url: reports_path do |report_colony_form| %>
    <% if @report.errors.full_messages.present? %>
    <div class="report__formErrors">
      <h2>Uh oh! Your submission had the following errors:</h2>
      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2>Report a Colony</h2>
    <span>If you are currently caring for a feral colony and are interested in registering the colony with us or you have found a colony that is in need of a caretaker, please take a moment to fill out the information below.</span>
    <div class="report__formContainer">
    <h3>Contact Information</h3>
    <div class="reportForm__label">
      <%= report_colony_form.label :first_name, "First Name: " %>
      <%= report_colony_form.text_field :first_name, placeholder: "" %>
    </div>
    <div  class="reportForm__label">
      <%= report_colony_form.label :last_name, "Last Name: " %>
      <%= report_colony_form.text_field :last_name, placeholder: "" %>
    </div>
    <div  class="reportForm__label">
      <%= report_colony_form.label :email, "Email: " %>
      <%= report_colony_form.email_field :email, placeholder: " email@example.com" %>
    </div>
    <div  class="reportForm__label">
      <%= report_colony_form.label :phone, "Phone: " %>
      <%= report_colony_form.telephone_field :phone, placeholder: " 000-000-0000" %>
    </div>
    <div  class="reportForm__label">
    <%= report_colony_form.label :street_address, "Street Address: " %>
    <%= report_colony_form.text_field :street_address, placeholder: "" %>
    </div>
    <div  class="reportForm__label">
    <%= report_colony_form.label :city, "City: " %>
    <%= report_colony_form.text_field :city, placeholder: "" %>
    </div>
    <div  class="reportForm__label">
    <%= report_colony_form.label :state, "State: " %>
    <%= report_colony_form.text_field :state, placeholder: " XX" %>
    </div>
    <div  class="reportForm__label">
    <%= report_colony_form.label :zip_code, "Zipcode: " %>
    <%= report_colony_form.text_field :zip_code, placeholder: " 00000" %>
    </div>

    <h3>Colony Information</h3>
    <div  class="reportForm__label">
    <%= report_colony_form.label :location, "Where is the colony located?" %>
    <%= report_colony_form.text_area :location, placeholder: " Location (Street address, cross streets, park name, etc.)" %>
    </div>
    <div class="reportForm__number">
      <%= report_colony_form.label :pop, "Estimated number of cats in the colony?" %>
      <%= report_colony_form.number_field :pop, min: "0", max: "999", placeholder: " 0" %>
    </div>
    <div class="reportForm__number">
      <%= report_colony_form.label :fixed, "Estimated number that are spayed/neutered?" %>
      <%= report_colony_form.number_field :fixed, min: "0", max: "999", placeholder: " 0" %>
    </div>
    <div class="reportForm__number">
      <%= report_colony_form.label :young, "Estimated number younger than 2 months?" %>
      <%= report_colony_form.number_field :young, min: "0", max: "999", placeholder: " 0" %>
    </div>
    <div class="reportForm__radio">
      <h3>Are you the current caretaker? If not, are you interested in caring for this colony?</h3>
      <div>
      <%= report_colony_form.radio_button :current_caretaker, "Current caretaker" %>
      <%= report_colony_form.label :current_caretaker_yes, "Yes, I'm the current caretaker. " %>
      </div>
      <div>
      <%= report_colony_form.radio_button :current_caretaker, "No, but I'm interested" %>
      <%= report_colony_form.label :current_caretaker_interested, "No, but I'm interested. " %>
      </div>
      <div>
      <%= report_colony_form.radio_button :current_caretaker, "Not interested" %>
      <%= report_colony_form.label :current_caretaker_no, "I am not interested in providing care at this time. " %>
     </div>
    </div>
    <div class="reportForm__submit">
      <%= report_colony_form.submit "Send" %>
    </div>
  <% end %>
</div>
