<nav class="hidden__nav">
  <ul class="hidden__navUl">
    <li><%= link_to 'COLONIES', colonies_path %></li>
    <li><%= link_to 'ORGANIZATIONS', organizations_path %></li>
    <li><%= link_to 'VOLUNTEER', volunteer_path %></li>
    <li><%= link_to 'PROFILE', current_user %></li>
    <li><%= link_to 'MESSAGE BOARD', boards_path %></li>
  </ul>
</nav>
