<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBEXcbmd62BQbiO7OgzCFC0qwRuSWaIeMc" %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat|Quicksand:400' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div class="main__wrapper">
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
